@import "http://fonts.googleapis.com/css?family=Fauna+One|Muli";

#form {
	background-color:#fff;
	color:#123456;
	box-shadow:0 1px 1px 1px #123456;
	font-weight:400;
	width:350px;
	margin:50px 250px 0 35px;
	float:left;
	height:500px
}

#form div {
	padding:10px 0 0 30px
}

h3 {
	margin-top:0;
	color:#fff;
	background-color:#3C599B;
	text-align:center;
	width:100%;
	height:50px;
	padding-top:30px
}

#mainform {
	width:960px;
	margin:50px auto;
	padding-top:20px;
	font-family:'Fauna One',serif
}

input {
	width:90%;
	height:30px;
	margin-top:10px;
	border-radius:3px;
	padding:2px;
	box-shadow:0 1px 1px 0 #123456
}

input[type=button] {
	background-color:#3C599B;
	border:1px solid #fff;
	font-family:'Fauna One',serif;
	font-weight:700;
	font-size:18px;
	color:#fff
}